:root {
   --main-text-color: #434455;
   --bg-color:#FFFFFF; /* Header, team card background */
   --primary-brand-color: #4D5AE5; /* CTAs Focused Active states Links */
   --pressed-state-color: #404BBF; /* CTAs */
   --dark-color: #2E2F42; /* Overlays Shadows Headings logo*/
   --light-bg-color: #F4F4FD; /* Light mode backgrounds Light mode Dialogs/alerts */
   
}

body{
   font-family: Roboto, sans-serif;
   color: var(--main-text-color);
   background-color: var(--bg-color);
   
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;

   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.current.link {
   color: var(--pressed-state-color);
}

.link {
   text-decoration: none;
}

.list {
   list-style: none;
}

.logo {
   font-family: 'Raleway';
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.logo-lead { 
   color: var(--primary-brand-color); 
}

/* Header */

.header {}

.header-nav {}

.header-nav-logo,
.header-nav-link { 
   color: var(--dark-color); 
}

.header-nav-link { 
   font-weight: 500; 
}

.header-nav-item {}

.header-nav-link,
.header-cont-link {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.header-cont-list {}

.header-cont-item {}

.header-cont-link {
   font-weight: 400;
   font-style: normal;
   color: var(--main-text-color);
}

/* Hero section */

.hero { 
   background-color: var(--dark-color); 
}

.hero-title {
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   color: var(--bg-color)
}

.hero-btn {
   cursor: pointer;
   color: var(--bg-color);
   background-color: var(--primary-brand-color);
}

/* Feature section */

.features {}

.features-title {}

.features-list {}

.features-item {}

.features-subtitle {

   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--dark-color);
}

.features-desc {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

/* Examples */

.examples {}

.examples-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--dark-color);
}

.examples-list {}

.examples-item {}

.examples-img {}

/* Our Team */

.team {
   background-color: var(--light-bg-color);
}

.team-title {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: var(--dark-color);
}

.team-list {}

.team-item {
   background-color: var(--bg-color);
}

.team-img {}

.team-subtitle {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: var(--dark-color);
}

.team-desc {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}